* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100%;
    /* Css Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 4rem;
    background: rgba(1, 1, 1, 0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li a:hover {
    color: blue;
}

#home h1 {
    font-size: 5rem;
    font-family: 'Merriweather', serif;
    color: rgba(245, 245, 245, 0.8);
    margin-top: 5rem;
}

#home h2 {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    color: rgba(245, 245, 245, 0.8);
}

#about h2 {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    color: rgba(245, 245, 245, 0.8);
    display: flex;
}

/* section background or Images */
#home {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

#about {
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    height: 100vh;

}

.list {
    font-family: 'merriweather', serif;
    color: rgba(1, 1, 1, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list h2 {
    text-decoration: underline;
    text-decoration-style: dotted;
}


.list ul li {
    list-style: none;
    padding-top: 2rem;
    font-size: 1rem;
    font-style: italic;
}

#skills {
    background-image: url(./img/skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


#contact {
    width: 100%;
    height: 30vh;
}

.icon {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5rem;
    font-size: 5rem;
    color: blue;
    background-color: black;
}